<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.titan.camera.cameras.camera2api">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name="net.titan.camera.activity.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CameraTheme" />
    </application>
</manifest>